    .bodycontainer{
         margin: 0;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        height: 900px;
    }



    .mains{
        display: flex;
        flex-direction:row ;
        height: 832px;
    }

    .routesContent{
        flex: 1;
        /* background-color: rgba(234, 236, 240, 1); */
        background: rgb(245, 246, 247);
        height: 108%;
        }